.DS_Store
vendor/
!resources/views/vendor
node_modules/
*.log
error_log
dev-manifest.json
!public/storage
public/.htaccess-*
public/img/invoice-logo.jpg
.phpunit.result.cache
# Laravel specific directories and files
public/css/**
public/js
public/.htaccess
public/.htaccess*
public/hot
public/php.ini
public/.user.ini
public/manifest.json
public/mix-manifest.json
Homestead.json
Homestead.yaml
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.env
*.log
*.pdf
stats.html
.vite-inspect

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
vue_upgrade_output
todo.md
