.null {
  color: #ccc;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  select, input {
    margin: 0 10px 0 0;
  }
  .options-button {
    padding: 0 40px;
  }
}

.pagination {
  display: block;
  text-align: center;
  padding-left: 0;
  border-radius: 4px;
  font-size: 0;
  li {
    font-size: 16px;
    position: relative;
    display: inline-block;
    border: 1px solid #ddd;
    margin: -1px;
    a {
      display: block;
      padding: 6px 12px;
      line-height: 1.42857143;
      color: #428bca;
      text-decoration: none;
      background-color: #fff;
    }
    &.disabled {
      a {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
      }
    }
    &.active > a {
      color: #fff;
      cursor: default;
      background-color: #428bca;
      border-color: #428bca;
    }
  }
}

@include breakpoint(small down) {
  .options-sect {
    .cell {
      margin-bottom: $global-padding;
    }
  }
}
