@use "./bootstrap.min.css" as *;

.table-design {
    width: 230mm;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
}

#footer-area {
    width: 210mm;
    margin-top: 10mm;
    margin-left: auto;
    margin-right: auto;
}

.table {
    border: none;
}


.table td,
.table th {
    border-top: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    vertical-align: top;
}

.table tfoot {
    border-top: 1px solid #dee2e6;
}

p {
    margin-bottom: 0;
}

.text-end {
    text-align: end;
}

.table-bordered td,
.table-bordered th {
    border: none;
}

thead {
    background-color: #e0e0e0
}
tfoot {
    font-weight: bold;
}
