@use "./bootstrap.min.css" as *;

#print-area {
    position:   relative;
    top:        1cm;
    left:       1cm;
    width:      21cm;
    height:     29.7cm;
    font-family:    'Times New Roman', Times, serif;
}

#footer-area {
    font-size: 10px;
}

.table-design {
    width: 100%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
}

.table {
    border: none;

    td,
    th {
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
        border-left: 0;
        vertical-align: top;
    }

    th {
        padding-top: 6px;
        padding-bottom: 0px;
        vertical-align: middle;
    }

    td {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    thead {
        background-color: #e0e0e0;
    }

    tfoot {
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        font-weight: bold;
    }

    &.table-bordered {
        td,
        th {
            border: none;
        }
    }

    .bg-gray {
        background-color: #fafafa;
    }
}

p {
    margin-bottom: 0;
}

.text-end {
    text-align: end;
}
