@use "../../node_modules/trumbowyg/dist/ui/trumbowyg.css" as *;
@use "../../node_modules/trumbowyg/dist/plugins/table/ui/trumbowyg.table.css" as *;

.trumbowyg-editor {
    background: #fff;
    height: 260px;
    padding: 0;
}



.trumbowyg-editor-box {
    @apply p-4;
    background: #fff;

    .disabled {
        background: #f0f3f6;
    }
}

.trumbowyg-disabled {
    .trumbowyg-editor-box {
        @apply p-4;
        background: #f0f3f6;
    }
}

.trumbowyg-disabled .trumbowyg-button-pane {
    opacity: 0.5;
    pointer-events: none;
}
